auth:
  - user: admin
    group: management
    uid: 1000
    gid: 1000
    password: ChangeThisPassword!
  - user: teamlead-it
    group: it
    uid: 1001
    gid: 1001
    password: ChangeThisPassword!
  - user: employee-it
    group: it
    uid: 1002
    gid: 1002
    password: ChangeThisPassword!
  - user: teamlead-hr
    group: hr
    uid: 1003
    gid: 1003
    password: ChangeThisPassword!
  - user: employee-hr
    group: hr
    uid: 1004
    gid: 1004
    password: ChangeThisPassword!
  - user: teamlead-operations
    group: operations
    uid: 1005
    gid: 1005
    password: ChangeThisPassword!
  - user: employee-operations
    group: operations
    uid: 1006
    gid: 1006
    password: ChangeThisPassword!

global:
  - "map to guest = never"
  - "server string = Verwaltung File Server"

share:
  - name: IT
    path: /samba/it
    browsable: yes
    readonly: yes
    guestok: no
    validusers: admin teamlead-it employee-it
    writelist: admin teamlead-it
  - name: HR
    path: /samba/hr
    browsable: yes
    readonly: yes
    guestok: no
    validusers: admin teamlead-hr employee-hr
    writelist: admin teamlead-hr
  - name: Operations
    path: /samba/operations
    browsable: yes
    readonly: yes
    guestok: no
    validusers: admin teamlead-operations employee-operations
    writelist: admin teamlead-operations
